html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

#track {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #333333;
}

#click {
  position: absolute;
  margin: 0;
  top: 70px;
  right: 5px;
  color: #333333;
}

#svg {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

